<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
  @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.11.0" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mycss.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul >
                <li>
                    <a asp-area="" asp-page="/Index">
                    <img src="~/img/WestWindLogo.png" alt="WestWind logo" 
                            title="Go to home ..." />    
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Samples/RegionQueryOne">Regions</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Samples/CategoryProducts">Category Products</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Samples/ShipmentForSupplier">Shipments</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
            </ul>

        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footerspacing">

            &copy; 2023 - WestWind Demo WebApp - rights reserved NAIT <a asp-area="" asp-page="/Privacy">Privacy</a>
 
    </footer>

   
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>